<div>
  <div class="top">
    <div>
      <h4>US securities and exchange comission</h4>
    </div>
    <div style="float: right; width: 40%">
      <fa-icon icon="home"></fa-icon>
    </div>
  </div>
  <div class="middle">
    <div class="info">
      <h2>
        <strong style="color: #00134d"> Submit payment </strong>
      </h2>
      <p>
        To submit an SEC filling fee payment using ACH, credit or debit card, enter the below information and click next you will then
        verify your CIK and contact information before selecting a payment type and entering your payment information.
      </p>
      <p>
        Please note: ACH payments take 1-3 buisness days before being reflected in EDGAR. credit and debit card transation will appear in
        EDGAR in [TBD] hours.
      </p>
    </div>
    <div style="background-color: #e6e6e6">
      <div class="title">
        <h3>
          <p>
            <strong> Enter the information </strong>
          </p>
        </h3>
      </div>
      <div style="padding: 20px">
        <form name="paymentForm" [formGroup]="paymentFormGroup" role="form" novalidate (ngSubmit)="onNext()" #paymentForm="ngForm">
          <h4>
            <strong>Your credential and payment amount</strong>
          </h4>
          <div class="form-group">
            <label class="form-control-label" for="field_cik">CIK</label>
            <em *ngIf="cikFormControl.invalid && cikFormControl.dirty && cikFormControl.errors?.['required']">Required</em>
            <em *ngIf="cikFormControl.invalid && cikFormControl.dirty && cikFormControl.errors?.['minlength']"
              >The minimum length should be 7</em
            >
            <em *ngIf="cikFormControl.invalid && cikFormControl.dirty && cikFormControl.errors?.['maxlength']"
              >The maximum length should be 10</em
            >
            <em *ngIf="cikFormControl.invalid && cikFormControl.dirty && cikFormControl.errors?.['pattern']">Cik should only be numbers</em>
            <input
              type="text"
              formControlName="cikFormControl"
              (focusout)="formatCik()"
              class="form-control"
              style="width: 40%"
              name="cik"
              id="field_cik"
              [(ngModel)]="cik"
              required
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" for="field_ccc">CCC</label>
            <em *ngIf="cccFormControl.invalid && cccFormControl.dirty && cccFormControl.errors?.['required']">Required</em>
            <em *ngIf="cccFormControl.invalid && cccFormControl.dirty && cccFormControl.errors?.['pattern']"
              >CCC should only be alphanumberic characters</em
            >
            <input
              type="text"
              formControlName="cccFormControl"
              class="form-control"
              style="width: 40%"
              name="ccc"
              id="field_ccc"
              [(ngModel)]="ccc"
              required
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" for="field_payment_amount">Payment Amount</label>
            <em *ngIf="paymentAmountFormControl.invalid && paymentAmountFormControl.dirty && paymentAmountFormControl.errors?.['required']"
              >Required</em
            >
            <em *ngIf="paymentAmountFormControl.invalid && paymentAmountFormControl.dirty && paymentAmountFormControl.errors?.['min']"
              >Payment amount should be more than 5 dollars</em
            >
            <div id="paymentInput">
              <input
                type="number"
                class="form-control"
                formControlName="paymentAmountFormControl"
                (focusout)="formatPaymentAmount()"
                style="width: 40%"
                name="payment_amount"
                id="field_payment_amount"
                [(ngModel)]="paymentAmount"
                required
              />
            </div>
          </div>
          <h4>
            <strong>Your contact information</strong>
          </h4>
          <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <em *ngIf="nameFormControl.invalid && nameFormControl.dirty && nameFormControl.errors?.['required']">Required</em>
            <em *ngIf="nameFormControl.invalid && nameFormControl.dirty && nameFormControl.errors?.['pattern']"
              >Name should be alphanumeric</em
            >
            <input
              type="text"
              formControlName="nameFormControl"
              class="form-control"
              style="width: 40%"
              name="name"
              id="field_name"
              [(ngModel)]="name"
              required
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <em *ngIf="emailFormControl.invalid && emailFormControl.dirty && emailFormControl.errors?.['required']">Required</em>
            <em *ngIf="emailFormControl.invalid && emailFormControl.dirty && emailFormControl.errors?.['email']"
              >Email should have proper email format</em
            >
            <input
              type="text"
              formControlName="emailFormControl"
              class="form-control"
              style="width: 40%"
              name="email"
              id="field_email"
              [(ngModel)]="email"
              required
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" for="field_phone">Phone</label>
            <em *ngIf="phoneFormControl.invalid && phoneFormControl.dirty && phoneFormControl.errors?.['required']">Required</em>
            <em *ngIf="phoneFormControl.invalid && phoneFormControl.dirty && phoneFormControl.errors?.['minlength']"
              >Phone should have minimum 10 digits</em
            >
            <em *ngIf="phoneFormControl.invalid && phoneFormControl.dirty && phoneFormControl.errors?.['maxlength']"
              >Phone should have maximum 10 digits</em
            >
            <em *ngIf="phoneFormControl.invalid && phoneFormControl.dirty && phoneFormControl.errors?.['pattern']"
              >Phone should only contain numbers</em
            >
            <input
              type="text"
              formControlName="phoneFormControl"
              class="form-control"
              style="width: 40%"
              name="phone"
              id="field_phone"
              [(ngModel)]="phone"
              required
            />
          </div>
          <button
            id="clear_button"
            type="button"
            class="btn btn-default"
            (click)="handleClear()"
            style="background-color: #4d4d4d; color: white; margin: 10px; margin-right: 40px"
          >
            <span class="fa fa-ban"></span>&nbsp;<span><strong>Clear</strong></span>
          </button>
          <button
            id="next_button"
            type="submit"
            [disabled]="paymentForm.form.invalid"
            class="btn btn-default"
            style="background-color: #3366ff; color: white; margin: 10px"
          >
            <span class="fa fa-ban"></span>&nbsp;<span><strong>Next</strong></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
