<div class="modal-header">
  <h4 class="modal-title">Redirecting to payment site ...</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="align-content: middle">
  <div>
    <h2 style="font-weight: bold">{{ startValue }}</h2>
  </div>
  <p>{{ url }}</p>
</div>
<div class="modal-footer">
  <button id="close_button" type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  <button id="continue_button" type="button" class="btn btn-outline-dark" (click)="handleContinue()">Continue</button>
</div>
